# Ignore everything by default then explicitly allow
*
# Include relevant documentation
!README.md
!licenses/
# Now include all the files we need for functionality
!*-repo.rhel
!bin/
!config/
!config/conf/**
!redaction/
!lua/
!non-root.passwd
# Everything in test except actuals and output
!test/
test/logs/*.actual
test/logs/rebalance-logs/